@import url("https://fonts.googleapis.com/css?family=Farro|Heebo");
html, body {
  margin: 0;
  font-family: 'Farro';
  background: #1a1a1a;
  height: 100vh;
}

#wrapper {
  width: 1280px;
  height: 720px;
  background: #ddd;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

#wrapper #titlebar {
  background: #fff;
  width: 100%;
  height: 40px;
}

#wrapper #titlebar .titlebar-btn {
  float: right;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#wrapper #titlebar .titlebar-btn:hover {
  background: #eee;
}

#wrapper #titlebar .titlebar-btn.close-window:hover {
  background: #d41324;
  color: #eee;
}

#wrapper #game-title {
  text-align: center;
  font-size: 5em;
  text-transform: uppercase;
}

#wrapper #page-accueil #home-btn-wrapper {
  height: 445px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#wrapper #page-accueil #home-btn-wrapper button {
  margin: 20px auto;
}

#wrapper #page-charger-partie .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#wrapper #page-charger-partie ul {
  display: block;
  width: 300px;
  height: 350px;
  background: #fff;
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0 2px;
}

#wrapper #page-charger-partie ul li {
  list-style-type: none;
  text-align: left;
  font-family: 'Heebo';
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 2px;
  margin: 2px auto;
  cursor: pointer;
  font-size: .9em;
  background: #eaeaea;
}

#wrapper #page-charger-partie ul li:hover {
  background: #d0d0d7;
  border-color: #7b7b87;
}

#wrapper #page-charger-partie .bottom-pannel {
  bottom: 10px;
}

#wrapper #page-parametres-de-jeu .center > div {
  margin: 10px 0;
}

#wrapper #page-parametres-de-jeu .bottom-pannel .green-btn {
  float: right;
  margin: 0 20px 10px 0;
}

#wrapper #page-parametres-de-jeu .bottom-pannel .grey-btn {
  float: left;
  margin: 0 0 0 20px;
}

#wrapper #page-parametres-de-jeu .two-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#wrapper #page-parametres-de-jeu .two-columns > div {
  width: 30%;
  float: left;
}

#wrapper #page-parametres-de-jeu .two-columns.vs::after {
  content: 'vs';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#wrapper #page-raccourcis {
  /* .quit_param {
            cursor: pointer;
            background: #fff;
            border: 1px solid #aaa;
            border-radius: 4px;
            outline: none;
            bottom: 5px;

            &:hover {
                background: #d0d0d7;
                border-color: #7b7b87;
            }
        } */
}

#wrapper #page-raccourcis .center {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#wrapper #page-raccourcis .bottom-pannel {
  bottom: 10px;
  text-align: center;
}

#wrapper h1 {
  text-align: center;
  font-size: 4em;
  text-transform: uppercase;
  padding-bottom: 0;
  margin-bottom: 0;
}

#wrapper button {
  cursor: pointer;
  background: #fff;
  border: 1px solid #aaa;
  border-radius: 4px;
  outline: none;
}

#wrapper button:hover {
  background: #d0d0d7;
  border-color: #7b7b87;
}

#wrapper .large-btn {
  display: block;
  margin: 30px auto;
  padding: 10px 0;
  width: 40%;
}

#wrapper .green-btn,
#wrapper .grey-btn {
  width: 200px;
  background: #77b255;
  color: #fff;
  padding: 10px 15px;
  border: none;
}

#wrapper .green-btn.grey-btn,
#wrapper .grey-btn.grey-btn {
  background: #aaa;
}

#wrapper .green-btn:hover,
#wrapper .grey-btn:hover {
  background: #649647;
}

#wrapper .green-btn:hover.grey-btn,
#wrapper .grey-btn:hover.grey-btn {
  background: #888;
}

#wrapper .red-btn {
  width: 300px;
  background: #dd2e44;
  color: #fff;
  padding: 10px 15px;
  border: none;
}

#wrapper .red-btn:hover {
  background: #ca293f;
}

#wrapper #page-en-jeu #game-chat-history {
  position: absolute;
  top: 52%;
  left: 10px;
  width: 330px;
  height: 400px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#wrapper #page-en-jeu #game-chat-history ul {
  font-size: .7em;
  margin: 0;
  padding: 0;
  color: #bd744c;
}

#wrapper #page-en-jeu #game-chat-history ul li {
  list-style-type: none;
}

#wrapper #page-en-jeu #game-chat-history ul li span.span-chat-attacker {
  color: #cc4550;
}

#wrapper #page-en-jeu #game-chat-history ul li span.span-chat-defender {
  color: #579ebd;
}

#wrapper #get-help {
  background: #3b88c3;
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 0;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: 55px;
  left: 15px;
}

#wrapper #get-help::after {
  content: '?';
  position: absolute;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
  left: 50%;
  top: 50%;
}

#wrapper .hidden {
  display: none;
}

#wrapper .center {
  text-align: center;
}

#wrapper .bottom-pannel {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

#wrapper .block-label {
  display: block;
  padding-bottom: 10px;
  color: #555;
}

#slide-select {
  position: absolute;
  top: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 5px;
}

table {
  position: absolute;
  top: 52%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-collapse: collapse;
}

table tr:first-child td, table tr:last-child td {
  height: 20px;
  border: none;
  background: #bfa074;
  -webkit-transform: scale(1);
          transform: scale(1);
  text-align: center;
}

table tr td {
  width: 60px;
  height: 60px;
  background: #fcf1d9;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 3px solid #666;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

table tr td:first-child, table tr td:last-child {
  width: 20px;
  background: #bfa074;
  border: none;
  -webkit-transform: scale(1);
          transform: scale(1);
  text-align: center;
}

table tr td::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
  z-index: 1;
  background: center/contain no-repeat;
}

table tr td.black-cell::after {
  background-image: url("../img/black_tower.png");
}

table tr td.white-cell::after {
  background-image: url("../img/white_tower.png");
}

table tr td.king-cell::after {
  background-image: url("../img/king.png");
}

table tr td.door-cell::after {
  background-image: url("../img/door.png");
}
