@import url('https://fonts.googleapis.com/css?family=Farro|Heebo|Open+Sans:400');

@import './variables';
@import './components';
@import './pages';

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    font-family: $mainFont;
    background: #555;
    height: 100vh;
    overflow: hidden;
}

#window {
    border: 1px solid #444;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    @include position-center;

    #wrapper {
        width: $windowWidth;
        height: $windowHeight;

        article {
            height: 100%;
            position: relative;
            box-sizing: border-box;
            overflow: hidden;
    
            & > h1 {
                margin-top: 0;
                padding-top: 50px;
            }
        }

        h1 { @include title; }

        .green-btn { @include coloredButton($greenButtonBackground); }

        #get-help { @include helpButton; }

        #game-title {
            font-size: $h1Size;
            margin-bottom: 40px;
        }



        .hidden     { display: none; }
        .center     { text-align: center; }
        .justify    { text-align: justify; }
        
        .bottom-pannel {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            box-sizing: border-box;
        }

        .block-label {
            display: block;
            padding-bottom: 10px;
            color: #555;
        }
    }

    #titlebar {
        overflow: hidden;
        font-family: 'Open Sans';
        width: 100%;
        position: relative;
        color: $titlebar_windows_color;

        #titlebar-title {
            @include position-center(1, 0, 50%, 40px, 2);
            user-select: none;

            &::before {
                content: '';
                width: calc(#{$titlebar_windows_height} / 2);
                height: calc(#{$titlebar_windows_height} / 2);
                background: rgba(0, 0, 0, 0.1);
                @include position-center(1, 0, 50%, -40%);
            }

            &::after {
                content: 'user@pc:~/';
                display: none;
                @include position-center(1, 0, 50%, -92%);
            }
        }

        .titlebar-btn {
            cursor: pointer;
            position: relative;

            &::after {
                @include position-center;
            }
        }
    }

    &[data-os="windows"] {
        border-radius: $window_windowsBorderRadius;

        #titlebar {
            background: $titlebar_windows_background;
            height: $titlebar_windows_height;
            color: $titlebar_windows_color;

            .titlebar-btn {
                float: right;
                width: $titlebar_windows_height;
                height: $titlebar_windows_height;

                &:hover {
                    background: #eee;
                }

                &#close-btn {
                    &:hover {
                        background: #d41324;
                        color: #eee;
                    }

                    &::after {
                        content: 'x';
                    }
                }

                &#fullscreen-btn {
                    &::after {
                        content: '□';
                    }
                }

                &#reduce-btn {
                    &::after {
                        content: '―';
                    }
                }
            }
        }
    }

    &[data-os="linux"] {
        border-radius: $window_linuxBorderRadius;

        #titlebar {
            height: $titlebar_linux_height;
            background: $titlebar_linux_background;
            color: $titlebar_linux_color;
            font-size: .7em;

            #titlebar-title {
                left: 50%;

                &::before {
                    display: none;
                }

                &::after {
                    display: block;
                }
            }

            .titlebar-btn {
                float: right;
                width: calc(#{$titlebar_linux_height} / 2);
                height: calc(#{$titlebar_linux_height} / 2);
                background: rgba(200, 200, 200, 0.1);
                border-radius: 100%;
                margin: calc(#{$titlebar_linux_height} / 4);

                &:hover {
                    background: rgba(200, 200, 200, 0.3);
                }
            }
        }
    }

    &[data-os="mac-os"] {
        border-radius: $window_iosBorderRadius;
        border-color: #666;
        
        #titlebar {
            height: $titlebar_ios_height;
            background: $titlebar_ios_background;
            color: $titlebar_ios_color;
            font-size: .7em;
            padding-left: 5px;

            &::after {
                content: '';
                @include position-center(1, 0, 100%);
                width: 100%;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            }

            #titlebar-title {
                left: 50%;

                &::before {
                    display: none;
                }

                &::after {
                    display: block;
                }
            }

            .titlebar-btn {
                float: left;
                width: calc(#{$titlebar_ios_height} / 1.7);
                height: calc(#{$titlebar_ios_height} / 1.7);
                border-radius: 100%;
                margin: calc(#{$titlebar_ios_height} / 5);
                border: 1px solid rgba(0, 0, 0, 0.2);

                &#close-btn {
                    background: #ff554f;
                }

                &#fullscreen-btn {
                    background: #ffb92a;
                }

                &#reduce-btn {
                    background: #25c93a;
                }

                &:hover {
                    filter: brightness(90%);
                }
            }
        }
    }

    &[data-theme="dark"] {
        $p: $primaryDarkColor;
        $s: $secondaryDarkColor;
        $t: $tertiaryDarkColor;

        h1 + p      { @include pTitleDesc($t); }
        button      { @include basicButton($t); }
        .select     { @include selectStyle($t); }
        .large-btn  { @include blockButton($t); }
        .grey-btn   { @include coloredButton($s); }
        .red-btn    { @include coloredButton($p); }
        .game-btn   { @include gameButton($p, $s); }

        #wrapper {
            background: $t;
            color: $tertiaryDarkFontColor;

            #page-accueil           { @include page-accueil($p, $s, $t); }
            #page-charger-partie    { @include page-charger-partie($p, $s, $t); }
            #page-parametres-de-jeu { @include page-parametres-de-jeu($p, $s, $t); }
            #page-en-jeu            { @include page-en-jeu($p, $s, $t); }
            #page-raccourcis        { @include page-raccourcis($p, $s, $t); }
        }
    }

    &[data-theme="light"] {
        $p: $primaryLightColor;
        $s: $secondaryLightColor;
        $t: $tertiaryLightColor;

        h1 + p      { @include pTitleDesc($t); }
        button      { @include basicButton($t); }
        .select     { @include selectStyle($t); }
        .large-btn  { @include blockButton($t); }
        .grey-btn   { @include coloredButton($s); }
        .red-btn    { @include coloredButton($p); }
        .game-btn   { @include gameButton($p, $s); }

        #wrapper {
            background: $t;
            color: $tertiaryLightFontColor;

            #page-accueil           { @include page-accueil($p, $s, $t); }
            #page-charger-partie    { @include page-charger-partie($p, $s, $t); }
            #page-parametres-de-jeu { @include page-parametres-de-jeu($p, $s, $t); }
            #page-en-jeu            { @include page-en-jeu($p, $s, $t); }
            #page-raccourcis        { @include page-raccourcis($p, $s, $t); }
        }
    }
}

#options-container {
    @include position-center(1, 0, 10px, 50%, 1);
    @include flex-center(flex, row);
    row-gap: 10px;

    select {
        margin: 0 10px;
        padding: 5px 0;
        width: 150px;
        text-align: center;
        cursor: pointer;
        z-index: 999;
    }
}